site_name: energy-repset
site_description: A unified framework for representative subset selection in multi-variate time-series spaces

theme:
  name: material

markdown_extensions:
  - pymdownx.arithmatex:
      generic: true

extra_javascript:
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js

nav:
  - Home: index.md
  - Getting Started: getting_started.md
  - Framework: framework.md
  - Gallery: gallery/index.md
  - Reference:
    - Workflow Types: workflow.md
    - White Paper: white_paper.md
